.articles {
  &__wrapper {
    margin-top: 4.8rem;
    position: relative;
    min-height: 367px;
    @include respond-to('large') {
      height: auto;
    }
    @include respond-to('mobile') {
      margin-top: 3.2rem;
      min-height: auto;
    }
  }

  .swiper-slide.articles__slide {
    width: 256px;
    @include respond-to('mobile') {
      width: 176px;
    }
  }

  &__inner {
    margin-left: 9.6rem;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    max-width: 1286px;
    @include respond-to('large') {
      position: static;
      max-width: 100%;
      margin-left: 0;
    }
  }

  &__opacity {
    position: absolute;
    z-index: 2;
    width: 134px;
    height: 100%;
    right: 0;
    top: 0;
    background: linear-gradient(270deg, #F7F7F7 0%, rgba(247, 247, 247, 0) 100%);
    @include respond-to('mobile') {
      display: none;
    }
  }

  &__item {
    @extend %link-reset;
  }

  &__thumbnail {
    width: 256px;
    height: 256px;
    object-fit: cover;
    @include respond-to('mobile') {
      width: 176px;
      height: 162px;
    }
  }

  &__desc {
    display: inline-block;
    line-height: 140%;
    font-size: 2rem;
    margin-top: 2.7rem;
    @include respond-to('mobile') {
      font-size: 1.4rem;
      margin-top: 1.6rem;
    }
  }

  &__navigation {
    @extend %swiper-navigation;
    margin-top: 4.8rem;
  }
}