.button {
  display: inline-block;
  border: none;
  background-color: var(--color-primary);
  color: var(--color-light);
  font-size: 2.4rem;
  font-family: var(--font-family-secondary);
  text-transform: uppercase;
  font-weight: var(--font-w-bold);
  padding: 2.6rem 4rem;
  text-decoration: none;
  @media (any-hover: hover) {
    &:hover {
      cursor: pointer;
    }
  }
  @include respond-to('normal') {
    font-size: 1.8rem;
  }
  @include respond-to('small') {
    font-size: 1.4rem;
    padding: 1.3rem 2.3rem;
  }

  &_transparent {
    background-color: transparent;
    color: var(--color-body);
    border: 1px solid;
  }

}

.button-select {
  background-color: transparent;
  border: 1px solid var(--color-light-gray);
  font-size: 1.6rem;
  line-height: 162%;
  padding: 20px 17px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  &:after {
    content: url('/src/images/arrow/arrow-drop.svg');
  }
  @include respond-to('mobile') {
    padding: 3.2vw 5vw;
    font-size: calc(14 / 320 * 100) * 1vw;
    line-height: 150%;
  }
}