.catalog {
  &__inner {
    position: relative;
    margin-top: 4.8rem;
    max-width: 1024px;
    margin-left: 4.5rem;
    display: flex;
    column-gap: 9rem;
    @include respond-to('large') {
      display: grid;
      grid-template-columns: repeat(2, max-content);
      max-width: 100%;
      row-gap: 4rem;
    }
    @include respond-to('medium') {
      margin-left: 0;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 9rem;
    }
    @include respond-to('normal') {
      column-gap: 1rem;
    }
    @include respond-to('small') {
      grid-template-columns: 1fr;
      row-gap: 1.5rem;
    }
    @include respond-to('mobile') {
      margin-top: 3.2rem;
    }
  }

  &__list {
    @extend %list-reset;
    font-size: 2.4rem;
    line-height: 133%;
    font-family: var(--font-family-secondary);
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    @include respond-to('mobile') {
      font-size: 1.4rem;
      font-weight: var(--font-w-bold);
    }
  }

  &__link {
    @extend %link-reset;
    @extend %link-arrow;
    column-gap: 1.5rem;
    @media (any-hover: hover) {
      &:hover {
        .catalog__icon {
          filter: none;
        }

        &:after {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    &.catalog__link_active {
      color: var(--color-primary);

      .catalog__icon {
        filter: none;
      }

      &:after {
        visibility: visible;
        opacity: 1;
      }
    }

    &:after {
      visibility: hidden;
      opacity: 0;
      content: '';
      display: inline-block;
      width: 2.4rem;
      height: 2.4rem;
      background: url("/src/images/arrow/arrow_active.svg") no-repeat center;
      background-size: contain;
      transition: opacity .4s ease;
    }
  }

  &__icon {
    filter: grayscale(1) opacity(0.7);
    transition: filter .4s ease;
  }
}