%line {
  width: 100%;
  height: 2px;
  display: block;
  background-color: var(--color-secondary);
}

.hamburger {
  display: flex;
  width: 32px;
  height: 25px;
  flex-direction: column;
  justify-content: space-between;
  @media (any-hover: hover) {
    &:hover {
      cursor: pointer;
    }
  }
  @include respond-to('mobile') {
    width: 18px;
    height: 15px;
  }
  &__line {
    @extend %line;
    &_main {
      background-color: var(--color-primary);
    }
  }
  &:before {
    display: inline-block;
    content: '';
    @extend %line;
    transition: transform .4s linear;
  }
  &:after {
    transition: transform .4s linear;
    display: inline-block;
    content: '';
    @extend %line;
  }
  &_active {
    //transform: rotate(90deg);
    .hamburger__line {
      background-color: var(--color-primary);
      display: none;
    }
    &:before {
      background-color: var(--color-primary);
      transform: rotate(-45deg) translateY(16px);
      @include respond-to('mobile') {
        transform: rotate(-45deg) translateY(9px);
      }
    }
    &:after {
      background-color: var(--color-primary);
      transform: rotate(45deg) translateY(-16px);
      @include respond-to('mobile') {
        transform: rotate(45deg) translateY(-9px);
      }
    }
  }
}
