.header {
  position: absolute;
  z-index: 6;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 127px;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-content: space-between;
  align-items: center;
  &_in {
    grid-template-columns: repeat(2, max-content);
    background-color: rgba(255, 255, 255, 0.7);
    nav {
      display: none;
    }
  }
  @include respond-to('medium') {
    grid-template-columns: repeat(2, max-content);
    nav {
      display: none;
    }
  }
  @include respond-to('mobile') {
    min-height: 5.8rem;
  }
  &__menu {
    display: flex;
    column-gap: 64px;
    font-size: 1.9rem;
    text-transform: uppercase;
    color: var(--color-dark);
    @extend %list-reset;
  }
  &__menu-link {
    @extend %link-reset;
    &_active {
      color: var(--color-primary);
    }
  }
  &__right {
    display: flex;
    column-gap: 62px;
    align-items: center;
    @include respond-to(small) {
      column-gap: 28px;
    }
  }
}