.review {
  font-size: 1.6rem;
  line-height: 162%;
  @include respond-to('mobile') {
    font-size: calc(14 / 320 * 100) * 1vw;
  }

  // .review__header
  &__header {
    display: grid;
    column-gap: 20px;
    grid-template-columns: 30% 1fr;
    align-items: center;
    @include respond-to('mobile') {
      column-gap: calc(12 / 320 * 100) * 1vw;
      grid-template-columns: calc(114 / 320 * 100) * 1vw 1fr;
    }
  }

  // .review__image-wrap
  &__image-wrap {
  }

  // .review__image
  &__image {
    display: block;
    width: 100%;
    height: auto;
  }

  // .review__info
  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }

  // .review__title
  &__title {
    text-transform: uppercase;
    font-size: 3rem;
    font-family: var(--font-family-secondary);
    font-weight: var(--font-w-bold);
    @include respond-to('mobile') {
      font-size: calc(24 / 320 * 100) * 1vw;;
    }
  }

  // .review__subtitle
  &__subtitle {
  }

  // .review__content
  &__content {
    opacity: 0.8;
    margin-top: 20px;
    margin-bottom: 10px;
    p {
      margin: 0;
    }
  }

  // .review__link
  &__link {
    @extend %link-reset;
    font-weight: var(--font-w-bold);
    display: flex;
    column-gap: 14px;
    &:after {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      background: url('/src/images/arrow/arrow.svg') no-repeat center;
      background-size: contain;
      transform: rotate(-45deg);
      transition: background-image 0.4s ease;
      @include respond-to('mobile') {
        width: 16px;
        height: 16px;
      }
    }
    @media (hover: hover) {
      &:hover {
        &:after {
          background-image: url('/src/images/arrow/arrow_active.svg');
        }
      }
    }
  }

  // .review__grid
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 100px;
    row-gap: 64px;
    margin-top: 70px;
    @include respond-to('small') {
      grid-template-columns: 1fr;
    }
    @include respond-to('mobile') {
      margin-top: 10vw;
      row-gap: calc(40 / 320 * 100) * 1vw;
    }
  }

}