.section {
  padding-top: 26rem;
  padding-bottom: 16rem;
  @include respond-to('small') {
    padding-top: 20rem;
  }
  @include respond-to('mobile') {
    padding-bottom: 6.4rem;
    padding-top: 9rem;
  }

  &_bg {
    background: linear-gradient(180deg, rgba(237, 250, 255, 0.95) 0%, rgba(228, 248, 255, 0.95) 100%);
  }

  &_bg1 {
    background-image: url("/src/images/sections/bg_1.jpg");
    background-size: cover;
  }

  &_bg2 {
    background-image: url("/src/images/sections/bg_2.jpg");
    background-size: cover;
  }

  &_bg3 {
    background-image: url("/src/images/sections/bg_3.jpg");
    background-size: cover;
  }

  &_bg4 {
    background-image: url("/src/images/sections/bg_4.jpg");
    background-size: cover;
  }

  &_bg5 {
    background-image: url("/src/images/sections/bg_5.jpg");
    background-size: cover;
  }

  &_bg6 {
    background-image: url("/src/images/sections/bg_6.jpg");
    background-size: cover;
  }

  &_bg7 {
    background-image: url("/src/images/sections/bg_7.jpg");
    background-size: cover;
  }

  &__inner {
    margin-top: 4.8rem;
    max-width: 1024px;
    margin-left: 9.6rem;
    display: grid;
    grid-template-columns: repeat(2, 448px);
    row-gap: 4rem;
    justify-content: space-between;
    @include respond-to('medium') {
      max-width: 100%;
      margin-left: 0;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 9rem;
    }
    @include respond-to('normal') {
      grid-template-columns: 1fr;
    }
    @include respond-to('mobile') {
      margin-top: 3.2rem;
      row-gap: 2.4rem;
    }
  }

  &__item {
    &_column {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include respond-to('normal') {
        row-gap: 4rem;
      }
      @include respond-to('mobile') {
        row-gap: 2.4rem;
      }
    }
  }

  &__title {
    font-size: 4rem;
    font-weight: var(--font-w-bold);
    line-height: 120%;
    color: var(--color-primary);
    margin-top: 0;
    margin-bottom: 2.4rem;
    text-transform: uppercase;
    @include respond-to('small') {
      font-size: 3rem;
    }
    @include respond-to('mobile') {
      font-size: 2.4rem;
      margin-bottom: 1.6rem;
    }
  }

  &__desc {
    font-size: 2rem;
    line-height: 140%;
    margin: 0;
    @include respond-to('mobile') {
      font-size: 1.4rem;
    }
  }
}