.structure {
  &__list {
    list-style: none;
    margin-top: 4.8rem;
    margin-bottom: 5.6rem;
    padding-left: 9.6rem;
    font-size: 2.4rem;
    line-height: 133%;
    font-family: var(--font-family-secondary);
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    @include respond-to('mobile') {
      margin-top: 3.2rem;
      margin-bottom: 3.2rem;
      padding-left: 2rem;
      font-size: 1.4rem;
      row-gap: .8rem;
      font-weight: var(--font-w-bold);
    }
  }

  &__link {
    @extend %link-reset;
    @extend %link-arrow;
  }

  &__map-wrap {
    margin-left: 15vw;
    max-width: 1459px;
    position: relative;
    @include respond-to('large') {
      max-width: 1160px;
      margin: 0 auto;
    }
    @include respond-to('normal') {
      padding-left: 20px;
      padding-right: 20px;
    }
    @include respond-to('mobile') {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  &__desc {
    font-size: 2rem;
    line-height: 140%;
    position: absolute;
    z-index: 1;
    left: 12%;
    top: 9%;
    white-space: pre-line;
    @include respond-to('small') {
      position: static;
      white-space: normal;
    }
    @include respond-to('mobile') {
      font-size: 1.2rem;
      margin-bottom: 2.4rem;
    }
  }

  &__map {
    display: inline-block;
    width: 100%;
    height: auto;
  }
}