.title {
  font-family: var(--font-family-secondary);
  color: var(--color-primary);
  font-weight: var(--font-w-bold);
  font-size: 8rem;
  line-height: 120%;
  margin: 0;
  text-transform: uppercase;
  &__link {
    @extend %link-reset;
    background: url("../../src/images/arrow/arrow_big.svg")no-repeat center right;
    padding-right: 7rem;
  }
}