.w-100 {
  width: 100%;
}

.text-primary {
  color: var(--color-primary);
}

.text-body {
  color: var(--color-body);
}

.text-info {
  color: var(--color-info);
}

.text-dark-info {
  color: var(--color-dark-info);
}

.ff-secondary {
  font-family: var(--font-family-secondary);
}