:root {
  --color-primary: #FF5001;
  --color-secondary: #303030;
  --color-body: #222222;
  --color-dark: #000000;
  --color-light: #FFFFFF;

  --font-family-primary: Roboto, sans-serif;
  --font-family-secondary: "Roboto Condensed", sans-serif;
  --font-w-bold: 700;
}

$breakpoints: (
        'large': (max-width: 1490px),
        'normal': (max-width: 991px),
        'medium': (max-width: 767px),
        'small': (max-width: 499px),
);