:root {
  --color-primary: #FF5001;
  --color-secondary: #303030;
  --color-body: #222222;
  --color-dark: #000000;
  --color-light: #FFFFFF;
  --color-gray: #828282;
  --color-light-gray: #D3D3D3;

  --font-family-primary: Roboto, sans-serif;
  --font-family-secondary: "Roboto Condensed", sans-serif;
  --font-w-bold: 700;
  --font-w-extra: 900;
}

$breakpoints: (
        'large': (max-width: 1679px),
        'medium': (max-width: 1439px),
        'normal': (max-width: 1199px),
        'small': (max-width: 991px),
        'mobile': (max-width: 519px),
);