.articles-detail {
  &__grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    column-gap: 30px;
    row-gap: 10px;
    font-size: 1.6rem;
    line-height: 162%;
    color: var(--color-dark-info);
    @include respond-to('small') {
      grid-template-columns: 1fr;
    }
    @include respond-to('mobile') {
      font-size: 4.4vw;
      margin-top: 10vw;
      row-gap: 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
    p {
      margin: 0;
    }
  }

  &__image {
    img {
      display: block;
      width: 100%;
      height: auto;
    }
    @include respond-to('small') {
      order: -1;
      margin-bottom: 25px;
    }
    @include respond-to('mobile') {
      margin-bottom: 7.5vw;
    }
  }

  &__date {
    color: var(--color-info);
    @include respond-to('mobile') {
      margin-top: 10vw;
    }
  }
}