.franchise {
  padding: 0;

  &__banner {
    background-image: url('/src/images/franchise/franchise-banner.jpg');
  }

  &__banner-content {
    padding-left: 5vw;
    font-size: 2rem;
    line-height: 150%;
    margin-top: 50px;
  }

  &__title {
    font-size: 8rem;
    @include respond-to('mobile') {
      font-size: calc(30 / 320 * 100) * 1vw;
    }
  }

  &__name {
    font-family: var(--font-family-secondary);
    text-transform: uppercase;
    color: var(--color-primary);
    font-size: 4rem;
    line-height: 120%;
    font-weight: var(--font-w-bold);
    display: block;
    margin-top: 5px;
    margin-bottom: 20px;
    @include respond-to('mobile') {
      font-size: calc(14 / 320 * 100) * 1vw;
    }
  }

  &__banner-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 6vh;
    display: flex;
    column-gap: 100px;
    justify-content: end;
    font-size: 20px;
  }

  &__banner-item {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }

  &__progress {
    margin-top: 50px;
    display: grid;
    grid-template-areas:
            'one two'
            'one three';
    grid-auto-columns: max-content;
    grid-auto-rows: max-content;
    justify-content: space-between;
  }

  &__awards {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    gap: 50px 40px;
    grid-area: one;
  }

  &__indicators {
    grid-area: two;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: max-content;
    gap: 40px;
    @include respond-to('small') {
      text-align: center;
    }
    @include respond-to('mobile') {
      row-gap: calc(16 / 320 * 100) * 1vw;
    }
  }

  &__advantages {
    margin-top: 50px;
    @extend %list-reset;
    counter-reset: count 0;
    display: grid;
    grid-template-columns: repeat(2, 47%);
    justify-content: space-between;
    row-gap: 60px;
  }

  &__advantages-item {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    font-size: 1.6rem;
    line-height: 162%;
    position: relative;

    &:before {
      counter-increment: count;
      content: counter(count);
      font-family: var(--color-secondary);
      font-size: 8rem;
      font-weight: var(--font-w-bold);
      opacity: 0.15;
      position: absolute;
      left: -18px;
      top: 0;
    }
  }

  // .franchise__cooperation
  &__cooperation {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 48%);
    justify-content: space-between;
  }

  // .franchise__cooperation-title
  &__cooperation-title {
    font-size: 21px;
  }

  // .franchise__cooperation-item
  &__cooperation-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 20px;
  }

  // .franchise__cooperation-desc
  &__cooperation-desc {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    column-gap: 4rem;
  }

  // .franchise__cooperation-content
  &__cooperation-content {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    font-size: 1.6rem;
  }

  // .franchise__video-grid
  &__video-grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 48%);
    justify-content: space-between;
  }

  // .franchise__video-text
  &__video-text {
    margin: 30px 0;
    font-size: 1.6rem;
    line-height: 162%;
    color: var(--color-info);
  }

}