.franchise {
  padding: 0;

  &__banner {
    background-image: url('/src/images/franchise/franchise-banner.jpg');
  }

  &__banner-content {
    padding-left: 5vw;
    font-size: 2rem;
    line-height: 150%;
    margin-top: 50px;
  }

  &__title {
    font-size: 8rem;
    @include respond-to('mobile') {
      font-size: calc(30 / 320 * 100) * 1vw;
    }
  }

  &__name {
    font-family: var(--font-family-secondary);
    text-transform: uppercase;
    color: var(--color-primary);
    font-size: 4rem;
    line-height: 120%;
    font-weight: var(--font-w-bold);
    display: block;
    margin-top: 5px;
    margin-bottom: 20px;
    @include respond-to('mobile') {
      font-size: calc(14 / 320 * 100) * 1vw;
    }
  }

  &__banner-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 6vh;
    display: flex;
    column-gap: 100px;
    justify-content: end;
    font-size: 20px;
  }

  &__banner-item {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }

  &__progress {
    margin-top: 50px;
    display: grid;
    grid-template-areas:
            'one two'
            'one three';
    grid-auto-columns: max-content;
    grid-auto-rows: max-content;
    justify-content: space-between;
  }

  &__awards {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    gap: 50px 40px;
    grid-area: one;
  }

  &__indicators {
    grid-area: two;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: max-content;
    gap: 40px;
    @include respond-to('small') {
      text-align: center;
    }
    @include respond-to('mobile') {
      row-gap: calc(16 / 320 * 100) * 1vw;
    }
  }

}