.product {
  font-size: 1.6rem;

  .product__header {
    margin-top: 7rem;
    margin-bottom: 6rem;
    display: grid;
    grid-column-gap: 4rem;
    grid-template-areas:
          "one two"
          "one three"
          "one four"
          "one five"
          "one six"
          "one ...";
    @include respond-to('normal') {
      grid-template-areas:
          "two"
          "one"
          "three"
          "six"
          "four"
          "five";
    }
    @include respond-to('mobile') {
      margin-top: 5vw;
      margin-bottom: 7.5vw;
    }
  }

  .product__slider {
    width: 29vw;
    grid-area: one;
    @include respond-to('medium') {
      width: 36vw;
    }
    @include respond-to('normal') {
      width: 60vw;
      margin-left: auto;
      margin-right: auto
    }
    @include respond-to('mobile') {
      width: calc(100vw - 20px);
    }
  }

  .product__desc-top {
    grid-area: two;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 15px;
    @include respond-to('normal') {
      margin-bottom: 40px;
    }
    @include respond-to('mobile') {
      margin-bottom: 16px;
    }
  }

  .product__code-wrap {
    grid-area: three;
    padding-top: 15px;
    padding-bottom: 15px;
    @include respond-to('normal') {
      text-align: center;
    }
    @include respond-to('mobile') {
      text-align: left;
      padding-top: 7.5vw;
      padding-bottom: 5vw;
    }
  }

  .product__feature {
    grid-area: four;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 15px;
    @include respond-to('mobile') {
      row-gap: 2.5vw;
      font-size: 4.4vw;
    }
  }

  .product__desc {
    grid-area: five;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 30px;
    @include respond-to('mobile') {
      row-gap: 7.5vw;
      padding-top: 7.5vw;
      padding-bottom: 0;
    }
  }

  &__swiper {
    width: 100%;
    height: 600px;
    @include respond-to('mobile') {
      height: 109.4vw;
    }
  }

  .swiper-pagination {
    position: static;
    margin-top: 15px;
    margin-bottom: 25px;
    @include respond-to('mobile') {
      margin-top: 12px;
      margin-bottom: 12px;
    }
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;

    &-active {
      background: var(--color-primary);
    }
  }

  .product__swiper-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .product__swiper-button {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 100%;
    background: rgba(38, 47, 64, 0.5) url("/src/images/arrow/arrow-white.svg") no-repeat center;
    @include respond-to('mobile') {
      display: none;
    }

    &.swiper-button-next {
      right: 0;
      transform: rotateY(180deg);
      top: 0;
    }

    &.swiper-button-prev {
      left: 0;
    }
  }

  .product__tag {
    background-color: var(--color-body);
    color: var(--color-light);
    text-transform: uppercase;
    border-radius: 2px;
    padding: 5px 20px;
    font-size: 1.8rem;
    line-height: 156%;
    font-weight: var(--font-w-bold);
    @include respond-to('mobile') {
      font-size: 4.4vw;
    }
  }

  .product__vendor-code {
    line-height: 162%;
    color: var(--color-info);
    @include respond-to('mobile') {
      font-size: 4.4vw;
    }
  }

  .product__feature-list {
    @extend %list-reset;
    line-height: 162%;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    @include respond-to('mobile') {
      line-height: 150%;
    }
  }

  .product__feature-item {
    display: flex;
    align-items: center;
    column-gap: 1rem;

    &:before {
      display: inline-block;
      content: '';
      width: 1.5rem;
      height: 1.5rem;
      background: url("/src/images/product/check.svg") no-repeat center;
    }
  }

  .product__desc-section {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    @include respond-to('mobile') {
      font-size: 4.4vw;
    }
  }

  .product__size-list {
    @extend %list-reset;
    display: flex;
    column-gap: .5rem;
    color: var(--color-info);
  }

  .product__size-item {
    &:after {
      content: ',';
    }
  }

  .product__order {
    grid-area: six;
    display: flex;
    column-gap: 3rem;
    align-items: center;
    .button {
      font-size: 1.8rem;
      padding: 2.667rem 5.35rem;
    }
    @include respond-to('normal') {
      justify-content: space-between;
    }
    @include respond-to('mobile') {
      flex-direction: column;
      align-items: start;
      row-gap: 16px;
      margin-bottom: 7.5vw;
      .button {
        width: 100%;
        text-align: center;
      }
    }
  }

  .product__price {
    white-space: nowrap;
  }

  .product__info {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }

  .product__details {
    padding: 15px 20px;
    border: 1px solid var(--color-light-gray);
    border-radius: 5px;
    @include respond-to('mobile') {
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 4.4vw;
    }

    summary {
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      color: var(--color-dark-info);
      font-size: 2rem;
      line-height: 150%;
      @include respond-to('mobile') {
        font-size: 5vw;
      }

      &:focus {
        outline: none;
      }

      &:after {
        content: '+';
        font-size: 1.35em;
      }
    }

    &[open] summary:after {
      content: '—';
    }
  }

  .product__details-inner {
    margin-top: 15px;
    color: var(--color-info);
    line-height: 162%;
    padding-right: 40px;
    @include respond-to('mobile') {
      padding-right: 0;
    }
  }

  .product__details-list {
    margin: 0;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    @include respond-to('mobile') {
      padding-left: 22px;
    }
  }

  .product__characteristic {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 1px solid var(--color-light-gray);
    margin: 0;
    padding: 15px 0;
    column-gap: 10px;

    &:first-of-type {
      padding-top: 0;
    }

    dd {
      color: var(--color-dark-info);
      margin-left: 0;
    }
  }

  .product__documents-list {
    @extend %list-reset;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 15px;
    @include respond-to('small') {
      grid-template-columns: 1fr;
    }
  }

  .product__document {
    padding: 24px 26px 24px 20px;
    border: 1px solid var(--color-light-gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    @include respond-to('mobile') {
      flex-direction: column;
      align-items: start;
      row-gap: 10px;
      padding: 12px 10px;
    }
  }

  .product__file-name {
    color: var(--color-dark-info);
    line-height: 140%;
  }

  .product__document-right {
    display: flex;
    column-gap: 12px;
    align-items: center;
  }

  .product__file-size {
    line-height: 162%;
    white-space: nowrap
  }

  .product__download {
    display: block;
    width: 30px;
    height: 30px;
    background: url("/src/images/arrow/arrow-download.svg") no-repeat center;
    background-size: contain;
  }
}











