.wholesale-direction {
  // .wholesale-direction__head
  &__head {
    margin-top: 40px;
    margin-bottom: 80px;
    font-size: 20px;
    line-height: 140%;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    p {
      margin: 0;
    }
    @include respond-to('mobile') {
      margin-top: 10vw;
      margin-bottom: calc(48 / 320 * 100vw);
      font-size: calc(14 / 320 * 100vw);
    }
  }

  // .wholesale-direction__list
  &__list {
    margin-top: 40px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    @include respond-to('mobile') {
      margin-top: 5vw;
      padding-left: 16px;
    }
  }

  // .wholesale-direction__brands
  &__brands {
    margin-top: 64px;
    margin-bottom: 80px;
    @include respond-to('mobile') {
      margin-top: calc(48 / 320 * 100vw);
      margin-bottom: calc(48 / 320 * 100vw);
    }
  }

  // .wholesale-direction__footer
  &__footer .button {
    @include respond-to('mobile') {
      width: 100%;
      text-align: center;
    }
  }
}

