html, body {
  font-size: 10px;
  font-family: var(--font-family-primary);
  color: var(--color-body);
  scroll-behavior: smooth;
}

body.popup-open {
  overflow: hidden;
  position: relative;
}

* {
  box-sizing: border-box;
}

abbr {
  &[title] {
    text-decoration: none;
  }
}

#company,
#structure,
#cooperation,
#catalog,
#brands,
#articles,
#news,
#contacts {
  position: relative;
}

// UIkit
.uk-text-lead {
  font-family: var(--font-family-secondary);
}

.uk-heading-small {
  @include respond-to('mobile') {
    font-size: calc(14 / 320 * 100) * 1vw;
  }
}

.uk-text-large {
  @include respond-to('mobile') {
    font-size: calc(18 / 320 * 100) * 1vw;
    font-weight: var(--font-w-bold);
  }
}

.uk-text-lead {
  @include respond-to('mobile') {
    font-size: calc(48 / 320 *100) * 1vw;
  }
}

.uk-text-default {
  @include respond-to('mobile') {
    font-size: calc(14 / 320 *100) * 1vw;
  }
}