html, body {
  font-size: 10px;
  font-family: var(--font-family-primary);
  color: var(--color-body);
  scroll-behavior: smooth;
}

body.popup-open {
  overflow: hidden;
  position: relative;
}

* {
  box-sizing: border-box;
}

abbr {
  &[title] {
    text-decoration: none;
  }
}

#company,
#structure,
#cooperation,
#catalog,
#brands,
#articles,
#news,
#contacts {
  position: relative;
}

// UIkit
.uk-text-lead {
  font-family: var(--font-family-secondary);
}